<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="./public/images/logo/logo-hairun-no-text.png">
  <title>Login | HairunSI</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
  <div class="grid md:grid-cols-[30%_70%] md:px-0 px-4 h-full min-h-screen">
    <div class="bg-[#12103B] h-full relative md:flex flex-col justify-end hidden">
      <img
        src="./public/images/background/bg-only-left.png"
        alt="background"
        class="absolute z-0 w-full h-full top-0 left-0 bg-cover right-0 bg-no-repeat"
      />
      <div class="z-10 text-white mx-5 2xl:mx-[77px] mb-[40%]">
        <h3 class="xl:text-[40px] xl:leading-10 lgg:text-[50px] text-3xl lg:leading-9 2xl:leading-[50px] 3xl:leading-[55px] break-words font-normal">
          <span>
            Bienvenue sur <br /> <strong>HaiRun SI</strong> !
          </span>
        </h3>
          <span class="text-[12px] lg:text-[14px] 2xl:text-base mt-3 2xl:mt-5 inline-block leading-4">
            <span>
              Prêt à démarrer votre journée?
              <br />
              Connectez-vous avec votre identifiant et mot de passe pour accéder à la plateforme et ces
              fonctionnalités.
            </span>
          </span>
      </div>
    </div>
    <div class="flex w-full flex-col items-center justify-center py-6 2xl:py-4 sm:px-4 px-1">
      <div class="flex flex-col w-full md:max-w-[480px] items-center">
          <img
            src="./public/images/logo/logo-hairun-no-text.png"
            alt="logo-hairun-no-text"
            class="w-16 h-20 bg-cover bg-no-repeat"
          />
          <h3 class="text-[#272727] text-center text-3xl font-medium mb-1 leading-9 mt-10 2xl:mt-20">
            Connexion
          </h3>
        <div class="w-full text-center">
          <h3 class="text-xs lg:text-[14px] font-medium mt-0 3xl:mt-20 text-[#808080] text-center">
            Merci de vous connecter à votre compte HaiRun SI.
          </h3>
          <form class="mt-12 flex flex-col gap-y-5 w-full">
            <input
            class='rounded border border-[#808080] py-5 px-4 w-full leading-3 focus:placeholder:opacity-0 focus:outline-none focus:border-[#3E60C1] cursor-pointer'
            placeholder="Adresse e-mail"
            type="email"
          />
          <div class="relative group flex focus:text-[#3E60C1] items-center">
            <input
            type="password"
            placeholder="Mot de passe"
            class='rounded border border-[#808080] py-5 px-4 w-full leading-3 focus:placeholder:opacity-0 focus:outline-none focus:border-[#3E60C1] cursor-pointer'
            required
          />
          <span class="absolute text-inherit hover:text-[#3E60C1] duration-300 right-6">
            <svg width="22" height="15" viewBox="0 0 22 15" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11 0C6 0 1.73 3.61 0 8C1.73 12.39 6 15 11 15C16 15 20.27 12.39 22 8C20.27 3.61 16 0 11 0ZM11 13C9.67392 13 8.40215 12.4732 7.46447 11.5355C6.52678 10.5979 6 9.32608 6 8C6 6.67392 6.52678 5.40215 7.46447 4.46447C8.40215 3.52678 9.67392 3 11 3C12.3261 3 13.5979 3.52678 14.5355 4.46447C15.4732 5.40215 16 6.67392 16 8C16 9.32608 15.4732 10.5979 14.5355 11.5355C13.5979 12.4732 12.3261 13 11 13ZM11 5C10.2043 5 9.44129 5.31607 8.87868 5.87868C8.31607 6.44129 8 7.20435 8 8C8 8.79565 8.31607 9.55871 8.87868 10.1213C9.44129 10.6839 10.2043 11 11 11C11.7956 11 12.5587 10.6839 13.1213 10.1213C13.6839 9.55871 14 8.79565 14 8C14 7.20435 13.6839 6.44129 13.1213 5.87868C12.5587 5.31607 11.7956 5 11 5Z" fill="currentColor"/>
              </svg>
          </span>
            
          </div>
            <div class="flex flex-col relative mt-4">
            <div class="flex justify-left text-gray-1 mb-10">
              <label class="flex flex-row items-center" htmlFor="remember">
                <input type="checkbox" name="" id="remember" class="w-[18px] h-[18px]" required/>
                <span class="text-sm lg:text-sm inline-block ml-4">Se souvenir de moi</span>
              </label>
            </div>
            <div class="flex flex-col relative 2xl:mb-20 mb-10">
              <a
                href="./Accueil.html"
                class='py-5 leading-4 text-sm border text-white rounded uppercase bg-[#DEDEDE]'
                
              >
                Se connecter
            </a>
            </div>
            <div class="flex flex-col">
              <hr class="mx-20" />
              <span class="text-[#272727] mt-7 text-sm lg:text-[14px]">
                Mot de passe oublié?&nbsp;
                <a href="">
                  <b>Cliquez ici.</b>
                </a>
              </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>